Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Aligns the function names/variable names vertically
# AlignConsecutiveDeclarations: true

# Aligns #defines
AlignConsecutiveMacros: true

# Aligns '=' in variable assignments
AlignConsecutiveAssignments: true

# Aligns comments at the end of lines
AlignTrailingComments: true

# Ensures the function parameters stay readable
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
